@import "tailwindcss";

@theme {
  --color-sg-black : #3c414a;
  --color-sg-white : #fcf8f9;
  --color-sg-grey : #ededed;
  --color-sg-outline-grey : #e4e4e4;
  --color-sg-orange : #ff7528;
  --color-sg-light-orange : #fba777;
  --color-sg-beige : #fcf2eb;
  --color-sg-dark-blue : #0c2555;
}
